.container {
  background-color: white;
  flex: 1;
  min-width: 200px;
}

.container > div:first-of-type {
  padding: 0;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 12px 24px;
  padding-left: 12px;
}

.title img {
  width: 30px;
  height: auto;
  border-radius: 100%;
  margin-right: 10px;
}

.players {
  padding-top: 0; 
}