.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 8px;
  background-color: var(--color-grey-light);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-grey);
  padding: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title img {
  width: 30px;
  height: auto;
  border-radius: 100%;
}

.title h4 {
  color: white;
  margin-left: 8px;
}

.players {
  padding-top: 0; 
}