.wrapper {
  --zone-top: 10%;
  --zone-bottom: 2%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  border: 10px solid var(--color-grey);
  background-color: var(--color-grey-heavy);
  height: 90vh;
  min-height: 700px;
  max-height: 2160px;
  width: calc(90vh * 0.9);
  max-width: calc(2160px * 0.9);
  min-width: calc(700px * 0.9);
  border-radius: 100%;
  position: relative;
  overflow-x: hidden;
  animation: fadeIn .4s linear 0s 1;
}
.container > p {
  color: #fff;
  position: absolute;
  top: 24px;
  text-align: center;
  width: 100%;
}
.positions {
  border: none;
  overflow: initial;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.zones {
  position: absolute;
  top: var(--zone-top);
  bottom: var(--zone-bottom);
  left: 0;
  right: 0;
  background-color: #fff;
}

.entrance {
  z-index: 1;
  height: 8vh;
  width: 12vh;
  margin-top: -1%;
  background-color: var(--color-grey-heavy);
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrance > p {
  color: #fff;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
