.wrapper {
  --zone-height: 90vh;
  --zone-width: calc(var(--zone-height) * 0.9);
  --zone-top: 100px;
  --zone-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  border: 10px solid var(--color-grey);
  background-color: var(--color-grey-heavy);
  height: var(--zone-height);
  min-height: 700px;
  width: var(--zone-width);
  min-width: 630px;
  border-radius: 100%;
  position: relative;
  overflow-x: hidden;
}
.container > p {
  color: #fff;
  position: absolute;
  top: 24px;
  text-align: center;
  width: 100%;
}
.positions {
  border: none;
  overflow: initial;
  position: absolute;
  background: transparent;
  top: calc(var(--zone-top) + 13px);
  bottom: var(--zone-bottom);
  height: calc(var(--zone-height) - var(--zone-top) - var(--zone-bottom));
}

.zones {
  position: absolute;
  top: var(--zone-top);
  bottom: var(--zone-bottom);
  left: 0;
  right: 0;
  background-color: #fff;
}

.entrance {
  z-index: 1;
  height: 8vh;
  width: 12vh;
  margin-top: -2vh;
  background-color: var(--color-grey-heavy);
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrance > p {
  color: #fff;
}
