
@keyframes helloworld {
  from {transform: rotateZ(0) scale(0,0);}
  to {transform: rotateZ(360deg) scale(1,1);}
}


.container {
  position: absolute;
  background-color: #fff;
  z-index: 2;
  height: 4vh;
  width: 4vh;
  border-radius: 100%;
  transition: background-color .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container[data-touchable="true"] {
  cursor: pointer;
  animation: helloworld .4s linear 0s 1;
}

.container[data-touchable="true"]:hover {
  background-color: var(--color-grey);
  opacity: 1!important;
}

.container[data-marker="true"] {
  height: 2.5vh;
  width: 2vh;
  background-color: transparent;
}
.container[data-marker="true"]:hover {
  background-color: transparent;
}
.container[data-marker="true"][data-touchable="true"]:hover .raidImage {
  transform: rotateZ(10deg);
}

.raidImage {
  position: absolute;
  width: 4vh;
  height: auto;
  z-index: -1;
  transition: transform .2s;
  transform: rotateZ(0deg);
  animation: fadeIn .2s linear 0s 1;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}


.player {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 3vh;
}
.player > span {
  color: black;
  margin-left: 3px;
}

.container[data-marker="true"] .positionIndex[data-hasplayer="true"] {
  background-color: #fff;
}
.positionIndex[data-hasplayer="true"] {
  color: #fff;
  font-weight: 700;
}
.markerPlayerBuild {
  border-radius: 100%;
}