.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 12px;
  transition: background-color .2s ease-in-out;
  background-color: white;
  border: 1px solid var(--color-grey-light);
}
.container[data-isplaced="true"] {
  background-color: var(--color-grey-light);
  opacity: .5;
}

.player > img {
  border-radius: 100%;
  height: 20px;
  width: auto;
}

.name {
  margin-left: 12px;
}

.positionIndex {
  border-radius: 100%;
  padding: 3px;
  background-color: white;
}

.delete {
  cursor: pointer;
}

.player {
  display: flex;
  flex-direction: row;
}
.actions {
  height: 40px;
  display: flex;
  margin-top: 4px;
}

.actions > p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  flex: 1;
  transition: opacity .2s ease-in-out;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}
.actions > p:hover {
  opacity: 1;
}

.delete {
  background-color: var(--color-red);
}

.choosePosition {
  background-color: var(--color-blue);
}

.deletePosition {
  background-color: var(--color-yellow);
}