.container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  min-width: 400px;
  max-width: 800px;
  background-color: rgb(244, 242, 242);
  box-shadow: -2px 1px 5px 0px var(--color-grey);
}

.container > .title {
  width: 100%;
  background-color: var(--color-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title > h2 {
  color: #fff;
  font-size: 20px;
  padding: 16px;
  position: relative;
}

.title > h2  > span {
  font-size: 13px;
}

.addPlayer {
  position: absolute;
  right: -25px;
  top: 10px;
}

.configuring {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.configuring > p {
  color: white;
  font-size: 18px;
  padding-right: 8px;
}
.configuring > input {
  height: 40px;
  width: 40px;
}

.players {
  display: flex;
  flex-direction: row;
  padding: 12px;
  max-width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}
