.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-grey);
  height: 50px;
  width: 100%;
  padding: 12px;
}


.title > img {
  height: 30px;
  width: auto;
}

.title > h4 {
  color: white;
  margin-left: 12px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  padding: 8px;
}

.item:hover {
  background-color: var(--color-grey);
}

.item > img {
  height: 30px;
  width: auto;
}
